# Runtime
APP_ENV=production
RUN_MIGRATIONS=false
DATABASE_URL=postgresql://aeroledger:CHANGE_ME@postgres:5432/aeroledger
JWT_SECRET=CHANGE_ME_WITH_AT_LEAST_32_CHARACTERS
HOST=0.0.0.0
PORT=8080
RUST_LOG=info
FRONTEND_URL=https://your-frontend.example.com
RECONCILIATION_INTERVAL_SECONDS=60

# Wallets
WALLET_ADDRESS_BTC=CHANGE_ME
WALLET_ADDRESS_ETH=CHANGE_ME
WALLET_ADDRESS_SOL=CHANGE_ME
WALLET_ADDRESS_USDT=CHANGE_ME
WALLET_ADDRESS_USDC=CHANGE_ME
WALLET_ADDRESS_BNB=CHANGE_ME

# Chain APIs
ETHERSCAN_API_KEY=CW4PA5C4NDQQAX27XY1R7RWUWUJM9I3CHN

SOLANA_RPC_URL=https://cosmological-summer-slug.solana-mainnet.quiknode.pro/ef2566e451f3b5d86838fad91f10458b087fcb01/
BITCOIN_API_BASE=477fde2be4421b775db41972c7fdcdfeaed5e94b
